@use "../global/variable.scss" as var;

.alkali {
  padding: 40px 0 70px 0;
  margin: 0 0 -1px 0;
  background-image: url("../img/case/alkali-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/case/alkali-bg-mobile@2x.png");
  }

  @media (min-width: var.$desktop-width) {
    background-image: url("../img/case/alkali-bg-desktop@1x.png");
    padding: 158px 0 0 0;
    margin: 0 0 -4px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/case/alkali-bg-desktop@2x.png");
    }
  }
}

.alkali__title {
  margin: 0 0 72px 0;

  @media (min-width: var.$tablet-width) {
    text-align: left;
    justify-self: center;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    justify-self: start;
    align-self: center;
  }
}

.alkali__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 8 / -1;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: -160px 0 0 20px;
  }
}

.alkali__img {
  display: block;
  margin: 0 auto;
  width: auto;
  min-height: 330px;

  @media (min-width: var.$desktop-width) {
    min-height: 625px;
  }
}

.alkali__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
  }
}

.alkali__picture-wrapper {
  margin: 0 0 0 -20px;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 0 -190px;
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    justify-self: unset;
  }
}

