@use "../global/variable.scss" as var;

.antifreeze-header {
  padding: 40px 0 0 0;
  background-image: url("../img/antifreeze/bg-antifreeze-mobile@1x.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/antifreeze/bg-antifreeze-mobile@2x.png");
  }

  @media (min-width: var.$desktop-width) {
    background-image: url("../img/antifreeze/bg-antifreeze-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/antifreeze/bg-antifreeze-desktop@2x.png");
    }
  }

  .main-header__logo-img {
    width: 93px;
    height: 50px;
  }
}

.antifreeze-header__title {
  margin: 27px 0 20px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    max-width: 300px;
    text-align: left;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 60px;
    line-height: 70px;
    justify-self: start;
  }
}

.antifreeze-header__lead {
  margin: 0 0 9px 0;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 20px 0;
    max-width: 300px;
    text-align: left;
    text-transform: none;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 32px;
    line-height: 38px;
  }
}

.antifreeze-header__comment {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    text-align: left;
  }
}

.antifreeze-header__text-wrapper {
  margin: 0 0 42px 0;

  @media (min-width: var.$tablet-width) {
    margin: -70px 0 0 0;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: -112px 0 0 7px;
  }
}

.antifreeze-header__img {
  display: block;
  margin: 0 auto;
  width: auto;
  min-height: 340px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 690px;
  }
}

.antifreeze-header__box {
  margin: 0 0 -18px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}

.antifreeze-header__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    margin: 0 0 0 0;
  }
}

.antifreeze-header__picture-wrapper {
  margin: 0 0 0 -130px;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
    margin: 0 0 0 -110px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: -5px -55px 0 85px;
  }
}
