@use "../global/variable.scss" as var;

.molybdenum {
  padding: 110px 0 0 0;
  background-image: url("../img/case/molybdenum-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/case/molybdenum-bg-mobile@2x.png");
  }

  @media (min-width: var.$tablet-width) {
    padding: 40px 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    background-image: url("../img/case/molybdenum-bg-desktop@1x.png");
    padding: 142px 0 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/case/molybdenum-bg-desktop@2x.png");
    }
  }
}

.molybdenum__title {
  margin: 0 0 76px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}

.molybdenum__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    margin: -40px 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 6;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: -145px 0 0 5px;
  }
}

.molybdenum__img {
  display: block;
  margin: 0 auto;
  width: auto;
  min-height: 310px;

  @media (min-width: var.$desktop-width) {
    min-height: 642px;
  }
}

.molybdenum__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 70px;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.molybdenum__picture-wrapper {
  margin: 0 0 0 -95px;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: 0 0 0 80px;
  }
}

