@use "../global/variable.scss" as var;

.non-fake {
  position: relative;
  padding: 80px 0 0 0;
  margin: 0 0 -45px 0;
  background-image: url("../img/long/non-fake-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/long/non-fake-bg-mobile@2x.png");
  }

  @media (min-width: var.$tablet-width) {
    padding: 70px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 140px 0 48px 0;
    background-image: url("../img/long/non-fake-bg-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/long/non-fake-bg-desktop@2x.png");
    }
  }
}

.non-fake__title {
  margin: 0 0 125px 0;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    justify-self: start;
    max-width: 490px;
  }
}

.non-fake__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    margin: -100px 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 6;
    justify-self: unset;
    margin: -130px 0 0 5px;
  }
}

.non-fake__img {
  display: block;
  width: auto;
  min-height: 415px;
  margin: 0 auto;


  @media (min-width: var.$tablet-width) {
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 640px;
  }
}

.non-fake__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
  }
}

.non-fake__picture-wrapper {
  margin: 0 0 0 -97px;

  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    margin: 0 0 0 -180px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 7 / -1;
    justify-self: unset;
    margin: 0 0 0 -200px;
  }
}
