@use "../global/variable.scss" as var;

.technology {
  padding: 40px 0 0 0;
  margin-bottom: -53px;
  background-image: url("../img/technology-car-mobile@1x.png"),
    url("../img/technology-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right 0, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/technology-car-mobile@2x.png"),
      url("../img/technology-bg-mobile@2x.png");
  }

  @media (min-width: var.$tablet-width) {
    padding: 60px 0 0 0;
    margin: 0;
    background-position: right -10px top -50px, center;
  }

  @media (min-width: var.$desktop-width) {
    padding: 45px 0 0 0;
    background-image: url("../img/technology-car-desktop@1x.png"),
      url("../img/technology-bg-desktop@1x.png");
    background-position: right 0 top 0, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/technology-car-desktop@2x.png"),
        url("../img/technology-bg-desktop@2x.png");
    }
  }
}

.technology__wrapper {
  margin-left: -6px;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    align-items: center;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.technology__text-wrapper {
  margin-left: 6px;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 6;
    grid-row: 1 / -1;
    margin-left: -4px;
  }
}

.technology__picture-wrapper {
  margin: 0 0 0 -145px;

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / -2;
    grid-row: 1 / -1;
    margin: 117px -30px 0 370px;
  }
}

.technology__title {
  @media (min-width: var.$desktop-width) {
    margin: 0 0 37px 0;
  }
}

.technology__message {
  max-width: 330px;

  @media (min-width: var.$desktop-width) {
    max-width: 490px;
  }
}

.technology__comment {
  margin: 0 0 42px 0;
  font-size: 12px;
  line-height: 14px;
  color: var.$gray;
}

.technology__break {
  @media (min-width: var.$desktop-width) {
    display: none;
  }
}

.technology__img {
  display: block;
  margin: 0 auto;
  width: auto;
  min-height: 410px;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 620px;
  }
}
