@use "../global/variable.scss" as var;

.time {
  position: relative;
  padding: 40px 0 0 0;
  margin: 0 0 -34px 0;
  background-image: url("../img/antifreeze/bg-time-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/antifreeze/bg-time-mobile@2x.png");
  }

  @media (min-width: var.$desktop-width) {
    padding: 150px 0 31px 0;
    background-image: url("../img/antifreeze/bg-time-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/antifreeze/bg-time-desktop@2x.png");
    }
  }
}

.time__title {
  margin: 0 0 138px 0;
  font-size: 32px;
  line-height: 40px;

  @media (min-width: var.$tablet-width) {
    max-width: 490px;
    justify-self: center;
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    justify-self: start;
    font-size: 38px;
    line-height: 54px;
  }
}

.time__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 6;
    justify-self: unset;
    margin: -18px 0 0 5px;
  }
}

.time__img {
  display: block;
  width: auto;
  min-height: 375px;
  margin: 0 auto;


  @media (min-width: var.$tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 615px;
  }
}

.time__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 70px;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
  }
}

.time__picture-wrapper {
  margin: 0 -15px 0 -170px;

  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    margin: 0 -15px 0 -170px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: 18px 0 0 50px;
  }
}
