@use "../global/variable.scss" as var;

.anti-corrosion {
  position: relative;
  padding: 128px 0 78px 0;
  background-image: url("../img/assortment-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/assortment-bg-mobile@2x.jpg");
  }

  @media (min-width: var.$desktop-width) {
    padding: 106px 0 53px 0;
    background-image: url("../img/assortment-bg-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/assortment-bg-desktop@2x.jpg");
    }
  }
}

.anti-corrosion__title {
  margin: 0 auto 58px auto;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    max-width: 385px;
    justify-self: center;
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    justify-self: start;
  }
}

.anti-corrosion__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 5;
    justify-self: unset;
    margin: 0 5px 0 0;
  }
}

.anti-corrosion__img {
  display: block;
  width: auto;
  min-height: 315px;
  margin: 0 auto;


  @media (min-width: var.$tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 615px;
  }
}

.anti-corrosion__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 70px;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
  }
}

.anti-corrosion__picture-wrapper {
  margin: 0 -10px 0 0;

  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    margin: 0 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 6 / -1;
    grid-row: 1 / -1;
    justify-self: unset;
    margin: 7px -28px 0 0;
  }
}

.anti-corrosion__break {
  @media (max-width: var.$mobile-width-only) {
    display: none;
  }
}
