@use "../global/variable.scss" as var;

.base {
  position: relative;
  max-height: 640px;
  padding: 40px 0 0 0;
  background-image: url("../img/long/base-bg-mobile@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/long/base-bg-mobile@2x.webp");
  }

  @media (min-width: var.$tablet-width) {
    max-height: unset;
    padding: 70px 0 0 0;
    background-image: url("../img/long/base-bg-desktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/long/base-bg-desktop@2x.webp");
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 132px 0 1px 0;
  }
}

.base__title {
  margin: 0 0 75px 0;

  @media (min-width: var.$tablet-width) {
    max-width: 385px;
    justify-self: center;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    justify-self: start;
    max-width: 480px;
  }
}

.base__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    margin: -70px 0 0 0;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 8 / -1;
    justify-self: unset;
    margin: -127px 0 0 20px;
  }
}

.base__img {
  display: block;
  width: auto;
  min-height: 480px;
  margin: 0 auto;


  @media (min-width: var.$tablet-width) {
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 610px;
  }
}

.base__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
  }
}

.base__picture-wrapper {
  margin: 0 0 0 -155px;

  @media (min-width: var.$tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    margin: 0 0 0 -150px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 6;
    justify-self: unset;
    margin: 0 0 0 -200px;
  }
}
