@use "../global/variable.scss" as var;

.button {
  display: block;
  padding: 14px;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &--primary {
    color: var.$venetian-red;
    background-color: var.$white;
    border: 1px solid var.$venetian-red;

    &:hover {
      color: var.$white;
      background-color: var.$venetian-red;
    }

    &:active {
      color: rgba(var.$white, 0.6);
    }
  }

  &--secondary {
    color: var.$white;
    background-color: var.$transparent;
    border: 1px solid var.$white;

    &:hover {
      color: var.$venetian-red;
      background-color: var.$white;
      border: 1px solid var.$venetian-red;
    }

    &:active {
      color: rgba(var.$venetian-red, 0.3);
    }
  }

  @media (min-width: var.$desktop-width) {
    font-size: 18px;
  }
}
