@use "../global/variable.scss" as var;

.expert {
  padding: 60px 0 40px 0;
  background-image: url("../img/expert-bg-mobile@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/expert-bg-mobile@2x.webp");
  }

  @media (min-width: 361px) {
    background-image: url("../img/expert-bg-desktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/expert-bg-desktop@2x.webp");
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 0;
  }

  @media (min-width: var.$desktop-width) {
    padding: 240px 0 0 0;
    margin-bottom: 0;
  }
}

.expert__wrapper {
  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    align-items: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    align-items: unset;
  }
}

.expert__text-wrapper {
  @media (min-width: var.$tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 8 / -1;
    margin: 30px 0 0 6px;
  }
}

.expert__picture-wrapper {
  margin: 65px 0 0 -70px;

  @media (min-width: var.$tablet-width) {
    justify-self: center;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 8;
    margin: -115px 0 0 -255px;
  }

  @media (min-width: var.$desktop-width) and (max-width: 1420px) {
    margin: -115px 0 0 -210px;
  }
}

.expert__title {
  margin: 0 0 40px 0;
}

.expert__img {
  display: block;
  margin: 0 auto -59px auto;
  width: auto;
  min-height: 292px;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}
